@import "../../assets/styles/functions.scss";

.company-score {
  .recharts-wrapper {
    max-width: 340px;
    width: 100% !important;
    height: auto !important;
    margin: 0 auto;
  }

  .recharts-legend-wrapper {
    width: 100% !important;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.5rem;
  }

  .recharts-polar-angle-axis-tick-value {
    font-size: rem(11);
    fill: var(--color-content-low);
    font-family: inherit;
  }

  .recharts-polar-grid-angle {
    stroke: var(--color-background-low);
    display: none;
  }
}
