@import "../../assets/styles/functions.scss";

.page-nav {
  margin: 0 auto;
  background-color: var(--color-background-low);
}

.page-nav-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.page-nav-item {
  padding: 0.5rem 0.25rem;
  font-size: var(--font-size-s);
  color: var(--color-content-mid);
  border-radius: rem(4);
  cursor: pointer;
  font-weight: 500;
  border: 1px solid transparent;
  //trucate text
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  flex: 1;
  text-align: center;
  transition: all 0.2s ease-in-out;
  &:hover:not(.page-nav-item__current) {
    background-color: #eeeeee;
    border: 1px solid var(--color-background-low);
  }
}

.page-nav-item__current {
  background-color: var(--color-background-base);
  border: 1px solid var(--color-content-mid);
  box-shadow: 0px 0px 4px 0px #1d1d1d40;
  color: var(--color-content-high);
}
@media (min-width: 768px) {
  .page-nav {
    width: fit-content;
    border-radius: rem(4);
  }
  .page-nav-list {
    margin-top: rem(-16);
    gap: rem(4);
  }
  .page-nav-item {
    padding: 0.5rem 1rem;
    flex: initial;
  }
}
