@import "../../assets/styles/functions.scss";

.navigation_list {
  display: flex;
  list-style: none;
  gap: rem(20);
  margin: 0;
  padding: 0;
}
.navigation_item {
  display: flex;
  align-items: center;
  height: rem(50);
}
.navigation_item__current {
  box-shadow: 0 2px 0 0 var(--color-onbrandcolor);
}
.navigation_link {
  font-size: var(--font-size-m);
  font-weight: 400;
  color: var(--color-content-high);
  text-decoration: none;
  text-wrap: nowrap;
  .navigation_item__current & {
    font-weight: 500;
  }
}
.navigation_link_badge {
  font-size: rem(10);
  font-weight: 700;
  line-height: rem(14);
  color: var(--color-background-base);
  background-color: var(--color-onbrandcolor);
  padding: rem(2);
  border-radius: rem(4);
  display: inline-block;
  vertical-align: bottom;
  margin-left: rem(2);
}
