@import "../../assets/styles/functions.scss";

.list_table {
  th {
    font-size: var(--font-size-s);
    font-weight: 400;
    color: var(--color-content-mid);
    text-align: end;
    padding: 0.75rem 0.5rem;
    border-bottom: 1px solid var(--color-background-low);
  }
  td {
    vertical-align: middle;
    padding: 0.75rem 0.5rem;
    &:not(:first-child) {
      text-align: end;
    }
  }
  tbody {
    tr {
      cursor: pointer;
      &:hover {
        background-color: var(--color-background-low--hover);
      }
      &:not(:last-child) {
        td {
          border-bottom: 1px solid var(--color-background-low);
        }
      }
    }
  }
  .company-info__details-item,
  .company-info__badge {
    margin: 0;
    font-size: var(--font-size-s);
  }
  .company-info__badge {
    padding: 2px 8px;
    font-weight: 600;
  }
  .company-financials__score {
    font-size: var(--font-size-xl);
  }

  .company-historical-financials {
    max-width: 120px;
    pointer-events: none;
    float: right;
  }
  .page-section-title {
    display: none;
  }
  .list_item_country {
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    white-space: nowrap;
  }
}
.list_item_turnover,
.list_item_ebitda {
  font-size: 1.375rem;
  font-weight: 500;
}
.list_item_name {
  font-size: var(--font-size-l);
  font-weight: 500;
  align-items: baseline;
  padding-left: 0;
}
