@import "../../assets/styles/functions.scss";

.company-nfd-capex {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0;

  .recharts-wrapper {
    width: 100% !important;
    height: auto !important;
    margin: 0 auto;
    max-width: 100%;
  }

  .recharts-cartesian-axis-tick-value {
    font-size: rem(11);
    fill: var(--color-content-low);
    font-family: inherit;
  }

  .recharts-cartesian-grid-horizontal line,
  .recharts-cartesian-grid-vertical line {
    stroke: var(--color-background-low);
  }
}
