@import "./assets/styles/vars.scss";
@import "./assets/styles/functions.scss";

.App {
  padding-top: rem(52);
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(253 253 253 / 70%);
  backdrop-filter: blur(5px) saturate(0.5);
}

.icon {
  color: inherit;
}
.container {
  max-width: rem(1280);
  padding: 0 rem(24);
  margin: 0 auto;
}
.row {
  margin: 0 rem(-12);
}
.col {
  padding: 0 rem(12);
}
