@import "./functions.scss";

:root {
  --color-background-base: #fcfcfd;
  --color-background-mid: #cccccc;
  --color-background-low: #e6e6e6;
  --color-background-low--hover: #f3f3f3;
  --color-content-high: #18181b;
  --color-content-mid: #626266;
  --color-content-low: #8f8f91;
  --color-onbrandcolor: #e91c11;
  --color-success-verylow: #e2f0eb;
  --color-success-veryhigh: #209464;
  --color-charting-13: #d8d8d9;
  --color-charting-14: #a0a0a1;
  --color-charting-15: #58585a;
  /* Fonts */
  --font-family-sans: "Inter", sans-serif;
  --font-size-s: 0.75rem;
  --font-size-m: 0.875rem;
  --font-size-l: 1rem;
  --font-size-xl: 1.75rem;
  --font-size-xxl: 3.25rem;
}
